.files {
    @extend .panel;
}
.files__title {
    @extend .panel__title;
}
ul.files-list {
    @extend .panel__body;
    label {
        padding: 5px 0;
    }
}
ul.files-list--inner {
    padding-left: 15px;
    display: none;
    .files-list__checkbox:checked ~ & {
        display: block;
    }
}
.files-list__item {
    padding: 5px 0;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.file-options {
    padding: 0;
}
.file-options__item {
    label {
        padding: 0;
        padding-left: 30px;
        margin-bottom: 7px;
        line-height: 20px;
    }
}
.file-text {
    vertical-align: middle;
}