.files {
    // background: $left-bar-bg;
    padding: 15px;
}
.files-list {
    &__item {
        padding: 5px;
        display: flex;
        align-items: center;
        font-size: 14px;
    }
    &--inner {
        display: none;
    .files-list__checkbox:checked ~ & {
            display: block;
        }
    }
}
.file-options {
    padding: 0;
}