.projects {
    @extend .panel;
    background: $left-bar-bg;
}
.projects__title {
    @extend .panel__title;
    border-color: $main-bg;
}
.projects__body {
    @extend .panel__body;
    display: flex;
    flex-direction: column;
}
.projects-list__item {
    padding: 10px 20px;
    &:hover {
        cursor: pointer;
    }
    &.is-active {
        border-left: 1px solid $main-active;
        background: #000;
    }
}

.projects__list {
    padding: 0;
    flex: 1 1 auto;
    // margin: 0 -20px;
}

.projects__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    .fa {
        margin-right: 7px;
    }
}