.projects {
    background: $left-bar-bg;
}
.projects-list {
    &__item {
        padding: 10px 15px;
        &:hover {
            cursor: pointer;
        }
        &.is-active {
            background: $main-blue;
        }
    }
}

.projects__list {
    padding: 0;
}