* {
  margin: 0;
  box-sizing: border-box; }

ul,
ol {
  padding-left: 15px;
  list-style: none; }

.hidden {
  display: none; }

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column; }

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  background: #23262d;
  color: #fff; }

.footer {
  flex: 0 0 auto; }

.panel {
  flex: 1 1 auto; }

label {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 5px; }

.files .icon {
  margin-right: 5px; }

.file-options .icon {
  font-size: 18px;
  color: #5c83d0; }

.icon--not-checked {
  display: inline-block; }
  .file-options__checkbox:checked ~ label .icon--not-checked {
    display: none; }

.icon--checked {
  display: none; }
  .file-options__checkbox:checked ~ label .icon--checked {
    display: inline-block; }

.panel__title {
  padding: 10px 15px;
  text-transform: uppercase;
  border-bottom: 1px solid #151820; }

.files {
  padding: 15px; }

.files-list__item {
  padding: 5px;
  display: flex;
  align-items: center;
  font-size: 14px; }

.files-list--inner {
  display: none; }
  .files-list__checkbox:checked ~ .files-list--inner {
    display: block; }

.file-options {
  padding: 0; }

.projects {
  background: #131519; }

.projects-list__item {
  padding: 10px 15px; }
  .projects-list__item:hover {
    cursor: pointer; }
  .projects-list__item.is-active {
    background: #5c83d0; }

.projects__list {
  padding: 0; }

.actions {
  border-left: 1px solid #151820; }

.actions-section__title {
  padding: 10px 15px;
  text-transform: uppercase;
  border-bottom: 1px solid #151820; }

.actions-section__body {
  padding: 10px 15px; }
